

<!--Team-->
<div class="section scrollspy" id="team">
    <div class="container">
        <h2 class="header center text_b"> Why? </h2>
        <p class="text_b">
          Jujubes icing lemon drops apple pie chupa chups cake. Chocolate bar marzipan marshmallow carrot cake muffin lemon drops croissant. Chupa chups marshmallow bonbon pastry cheesecake cake icing. Jelly-o biscuit soufflé carrot cake. Powder sesame snaps sugar plum sweet soufflé chocolate bar jelly beans gummies. Jelly beans candy canes macaroon gummies halvah croissant chocolate cake. Marzipan muffin macaroon icing pie macaroon jelly toffee. Dragée lemon drops marshmallow macaroon sweet soufflé. Fruitcake donut topping ice cream. Carrot cake jelly-o carrot cake cupcake lollipop jelly bonbon. Toffee tart cookie lemon drops cupcake lollipop marshmallow. Jelly-o icing candy.
        </p>
    </div>
</div>

<div class="section scrollspy default_color">
    <div class=" default_color">
      <div class="container">
      <h2 class="header center text_b white-text"> How? </h2>
      <p class="text_b white-text">
        Jujubes icing lemon drops apple pie chupa chups cake. Chocolate bar marzipan marshmallow carrot cake muffin lemon drops croissant. Chupa chups marshmallow bonbon pastry cheesecake cake icing. Jelly-o biscuit soufflé carrot cake. Powder sesame snaps sugar plum sweet soufflé chocolate bar jelly beans gummies. Jelly beans candy canes macaroon gummies halvah croissant chocolate cake. Marzipan muffin macaroon icing pie macaroon jelly toffee. Dragée lemon drops marshmallow macaroon sweet soufflé. Fruitcake donut topping ice cream. Carrot cake jelly-o carrot cake cupcake lollipop jelly bonbon. Toffee tart cookie lemon drops cupcake lollipop marshmallow. Jelly-o icing candy.
      </p>
    </div>
    </div>
  </div>

        <!-- <div class="row">
            <div class="col s12 m4">
                <div class="card card-avatar">
                    <div class="waves-effect waves-block waves-light">
                        <img class="activator" src="img/mauro.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Mauro Perez<br/>
                            <small><em><a class="red-text text-darken-1" href="http://leadmiami.co">LEAD Miami</a></em></small></span>
                        <p>
                            <a class="blue-text text-lighten-2" href="https://www.facebook.com/LEADmiami">
                                <i class="fa fa-facebook-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="https://twitter.com/mptysquare">
                                <i class="fa fa-twitter-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="https://github.com/maurop123">
                                <i class="fa fa-github-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="https://www.linkedin.com/pub/mauro-perez/11/341/256">
                                <i class="fa fa-linkedin-square"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card card-avatar">
                    <div class="waves-effect waves-block waves-light">
                        <img class="activator" src="img/gregory.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Gregory Johnson<br/>
                            <small><em><a class="red-text text-darken-1" href="http://selfieid.com">Selfie ID</a></em></small></span>
                        <p>
                            <a class="blue-text text-lighten-2" href="https://www.facebook.com/igregoryjohnson">
                                <i class="fa fa-facebook-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="https://twitter.com/igregoryjohnson">
                                <i class="fa fa-twitter-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="https://plus.google.com/u/0/+GregoryJohnson001">
                                <i class="fa fa-google-plus-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="https://www.linkedin.com/in/igregoryjohnson">
                                <i class="fa fa-linkedin-square"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card card-avatar">
                    <div class="waves-effect waves-block waves-light">
                        <img class="activator" src="img/sean.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Sean Sellek<br/>
                            <small><em><a class="red-text text-darken-1" href="http://wyncode.co">Wyncode</a></em></small></span>
                        <p>
                            <a class="blue-text text-lighten-2" href="https://twitter.com/seansellek">
                                <i class="fa fa-twitter-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="http://github.com/seansellek">
                                <i class="fa fa-github-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="https://www.linkedin.com/pub/sean-sellek/48/117/5a9">
                                <i class="fa fa-linkedin-square"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div> -->
