
<!--Hero-->
<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <h1 class="text_h center header cd-headline letters type">
      <span>Experience Miami Dade's Data</span>
    </h1>
  </div>
</div>

<div class="section scrollspy" id="visual">
  <div class="container">
    <div class="row">
      <div  class="col s12">
        <h2 class="center header text_h2">We at <a href="http://codeformiami.org/">Code for Miami</a> have visualized Miami Dade's 2016 <a href="https://transparencyapps.demo.socrata.com/dataset/Miami-Dade-FY-16-Proposed-Operating-Budget/un64-wacr?"> budget proposal. </a> </h2>
      </div>
      <div id="main" class="col s12">
        <div id="chart">
          <div id="explanation" style="visibility: hidden;">
            <span id="value"></span><br/>
            <span id="percentage"></span><br/>
            of total budget
            <div id="sequence"></div>
          </div>
        </div>
      </div>
      <div  class="col s12">
        <h2 class="center header text_h2"> Pretty cool, huh? </h2>
      </div>
    </div>
  </div>
</div>
