
<!--Hero-->
<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <h1 class="text_h center header cd-headline letters type">
      <span>Experience Miami Dade's Data</span>
    </h1>
  </div>
</div>

<div class="section scrollspy" id="visual">
  <div class="container">
    <div class="row">
      <div  class="col s12">
      </div>
      <div id="main" class="col s12">
        <div id="chart">
          <div id="explanation" style="visibility: hidden;">
            <span id="value"></span><br/>
            <span id="percentage"></span><br/>
            of total budget
            <div id="sequence"></div>
          </div>
        </div>
      </div>
      <div  class="col s12">
        <h2 class="center header text_h2">We at <a href="http://codeformiami.org/">Code for Miami</a> have visualized Miami Dade's 2016 <a href="https://transparencyapps.demo.socrata.com/dataset/Miami-Dade-FY-16-Proposed-Operating-Budget/un64-wacr?"> budget proposal. </a> </h2>
      </div>
    </div>
  </div>
</div>

<div class="section scrollspy default_color" id="connect-banner">
  <div class="container valign-wrapper">
      <div class="row center valign">
          <div class="col s12 white-text">
              <h2 class="white-text">Let's connect</h2>
    <div class="section col s12">
    <p class="flow-text">
      Join us every Monday at 7pm at <a class="white-text" style="text-decoration:underline" href="http://thelabmiami.com/">The Lab Miami</a>
    </p>
    </div>
    <div class="col s4 m2 offset-m3">
                  <a class="white-text" href="https://www.facebook.com/CodeForMiami?fref=ts">
                    <i class="large fa fa-facebook-square white-text"></i>
                  </a>
                </div>
    <div class="col s4 m2">
                  <a class="white-text" href="https://twitter.com/CodeForMiami">
                    <i class="large fa fa-twitter-square white-text"></i>
                  </a>
                </div>
    <div class="col s4 m2">
                  <a class="white-text" href="https://github.com/Code-for-Miami/miami-budget">
                    <i class="large fa fa-github-square white-text"></i>
                  </a>
                </div>
          </div>
      </div>
  </div>
</div>
